.ticker-overview {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bg-card);
  border-radius: 8px;
  color: var(--text-primary);
}

.overview-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px auto;
}

.overview-item {
  padding: 10px;
  background-color: var(--bg-dark);
  border-radius: 6px;
  color: var(--text-primary);
  min-width: 180px;
  flex: 1 1 180px;
}
